.cards__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /* grid-row-gap применяется к cards__item в сетке cards. Соответственно внутри элемента cards__item стили cards не применяются. cards__image является флекс элементом cards__item, поэтому у флекс-элемента персональный отступ согласно брифу */
    margin: 60px 40px 0;
}
