.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 20px;
    color: #2f80ed;
}

.khan__buy-link:hover {
    opacity: .3;
    transition: opacity 0.3s linear;
}